
 body{
    
    display: grid;
    height: 100vh;
    place-items: center;
 }
 .main{
    width: 300px;
    height: 400px;
   
    position: absolute;
    border: 3px solid black;
    border-radius: 3px; 
 }
 .main input[type='text'] {
    width: 80%;
    position: relative;
    height: 50px;
    top: 3px;
    text-align: right;
    padding: 3px 6px;
    outline: none;
    font-size: 40px;
    border: 3px solid black;
    display: flex;
    margin-left: 10px;
    border-radius: 1000px;
    color: black;
 }
 .button input[type='button']{
    width:60px;
    padding: 2px;
    margin: 0px 0px;
    margin-top: 6px;
    margin-left: 3px;
    position: relative;
    left: 10px;
    top: 10px;
    height: 40px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s;
    
    border-radius: 6px;
    color: brown;
 }
 .button input[type='button']:hover{
    background-color: black;
    color: white;
 }
 #title{
   color:black;
   margin-top: -500px;
 }
 